<div class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#"><span>365.</span>blog</a>
  <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="redes mr-auto">
      <li class="red__item">
        <a href="" class="red__link">
            <i class="fab fa-medium"></i>
        </a>
      </li>
      <li class="red__item">
        <a href="" class="red__link">
            <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="red__item">
        <a href="" class="red__link">
            <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="red__item">
        <a href="" class="red__link">
            <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
    
    <ul class="nav justify-content-end nav__right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Travel Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>